<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DryIoc.dll" version="3.0.2" targetFramework="net472" />
  <package id="Prism.Core" version="7.1.0.431" targetFramework="net472" />
  <package id="Prism.DryIoc.Forms" version="7.1.0.431" targetFramework="net472" />
  <package id="Prism.Forms" version="7.1.0.431" targetFramework="net472" />
  <package id="Xamarin.Forms" version="3.6.0.220655" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.GTK" version="3.6.0.220655" targetFramework="net472" />
</packages>